# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Banco local
dados.db
*.db

# Ambiente virtual
venv/
.env/
env/

# Variáveis de ambiente
.env

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
